@import "tailwindcss";
@import "tw-animate-css";

@import 'swiper/css';

* {
  scroll-behavior: smooth;
}

.hero{
  min-height: calc(100vh - 100px);
}

.main-first-block{
  background-image: url("../images/main-first-block-bg.jpg");
}

.project-details-hero{
  min-height: 80vh;

  height: 100%;
}
